<div style="overflow:hidden;padding:40px">
    <div style="margin-left: 14rem;margin-top: 10rem;">
        <button (click)="increment()">Chnage name</button>
        <button (click)="navigatesecondscreen()">Navigate to second screen</button>

        <div class="animatebox">
            <div style="display: flex;align-items: flex-end; overflow-x: hidden;">
                <p style="margin-bottom: 0px;margin-left: -50px;text-align: right;position: absolute;font-size: 20px;font-weight: bold;">Loading.......</p>
                <img src="../../../assets/images/walk.gif" style="width: 250px;">
            </div>


        </div>

    </div>
</div>