body {
    background: yellow;
}

.animatebox {
    margin-top: 20px;
    // border-radius: 50%;
    // background-color: black;
    // background: grey;
    animation: rotatebox 15s infinite linear;
}

@keyframes rotatebox {
    0% {
        margin-left: 0px;
        top: 0px;
        // background: grey;
    }
    100% {
        top: 0px;
        margin-left: 1200px;
        // background: blue;
    }
}