<div style="overflow:hidden;padding:25px">
    <div style="margin-top: 10rem;">
        <div style="display: flex;flex-direction: column;background: #d3d3d3;justify-content: center;align-items: center;padding:10px">


            <div>
                <input [(ngModel)]="username" class="customform" type="text">
                <label style="margin-right: 105px;font-size: 12px;margin-top: -22px;">User name</label>
            </div>


            <div>
                <input [(ngModel)]="password" class="customform" (keyup.enter)="submitform()" type="text" style="margin-top: 35px;">
                <label style="margin-right: 105px;font-size: 12px;margin-top: -22px;">Password</label>
            </div>

            <button (click)="submitform()" class="hover" style="margin-top:30px;font-weight:bold;background: #a5a5d4;width: 70px;border-radius: 5px;height:30px">Submit</button>
        </div>
    </div>
</div>